#box{
    background-color: #8d8dfa;
    height: 60vh;
    width: 190vh;
    margin: auto;
    margin-top: 10vh;
}
#char{
    height: 4vh;
    width: 4vh;
    background-color: red;
    position: absolute;
    margin-top: 56vh;
    margin-left: 60vh;
}
#npc1{
    height: 4vh;
    width: 4vh;
    background-color: yellow;
    position: absolute;
    margin-top: 20vh;
    margin-left: 40vh;
}
#npc2{
    height: 4vh;
    width: 4vh;
    background-color: green;
    position: absolute;
    margin-top: 40vh;
    margin-left: 120vh;
}
#npc3{
    height: 4vh;
    width: 4vh;
    background-color: green;
    position: absolute;
    margin-top: 10vh;
    margin-left: 50vh;
}
#npc4{
    height: 4vh;
    width: 4vh;
    background-color: green;
    position: absolute;
    margin-top: 30vh;
    margin-left: 10vh;
}