#box{
    background-color: #8d8dfa;
    height: 60vh;
    width: 190vh;
    margin: auto;
    margin-top: 10vh;
}
#char{
    height: 4vh;
    width: 4vh;
    background-color: red;
    position: absolute;
    margin-top: 60vh;
    margin-left: 80vh;
}
#npc1{
    height: 4vh;
    width: 4vh;
    background-color: green;
    position: absolute;
    margin-top: 20vh;
    margin-left: 40vh;
    font-size: 90px
}
#npc2{
    height: 4vh;
    width: 4vh;
    background-color: green;
    position: absolute;
    margin-top: 40vh;
    margin-left: 120vh;
    font-size: 90px
}
#npc3{
    height: 4vh;
    width: 4vh;
    background-color: green;
    position: absolute;
    margin-top: 10vh;
    margin-left: 50vh;
    font-size: 90px
}
#npc4{
    height: 4vh;
    width: 4vh;
    background-color: green;
    position: absolute;
    margin-top: 30vh;
    margin-left: 10vh;
    font-size: 90px
}
#obst{
    background-color: maroon;
    height: 40vh;
    width: 6vh;
    margin-left: 50vh;
}
#col0{
    height: 4vh;
    width: 6vh;
    margin-top: 1vh;
    margin-left: 50vh;
}
#col1{
    height: 4vh;
    width: 6vh;
    margin-top: -10vh;
    margin-left: 53vh;
}
#block{
    height: 16vh;
    width: 8vh;
    margin-top: -10vh;
    margin-left: 90vh;
    background-color: maroon;
}